*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

/* Animação Clip-path */

#sec {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    min-width: 100% !important;
    height: 100vh;
    background: url('../img/fundo.jpg');
    background-attachment: fixed;
    clip-path: circle(0px);
}

.cont {
    position: relative;
    margin-top: 200vh;
    background: #fff;
    padding: 100px;
    width: 100%;
}

.cont h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.title {
    position: relative;
    top: 250px;
    z-index: 1;
    font-size: 3em;
    text-align: center;
    width: 100%;
}

.quiz {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fim da Animação */

.bloqueio {
    opacity: 0;
    display: none;
}

#timer {
    font-size: 50px;
}

.alternativas {
    width: 200px;
    border-radius: 25px;
    cursor: pointer;
}

.questoes {
    margin-top: 20px;
    font-size: 2em;
}

.btnbanner input {
    background-color: #9f0000;
    border: 2px solid #9f0000;
    color: #ffffff;
    border-radius: 25px;
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-top: 10px;
    width: 250px;
    height: 100%;
    cursor: pointer;
}

.btnbanner input:hover {
    background: none;
    color: #9f0000;
    transition: 0.5s;
}

.errada {
    background-color: #9f0000;
    color: #000;
    opacity: 0.8;
}
.certa {
    background-color: green;
    color: #000;
    opacity: 0.8;
}

/* Botão de voltar ao Topo */
#btnTop{
    position: fixed;
    bottom: 18px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: #9f0000;
    color: #fff;
    border: none;
    border-radius: 100%;
    font-size: 20px;
}

#btnTop:hover {
        background: #ffffff;
        transition: 0.2;
        color: #9f0000;
        }
    
    
    /* Fim Botão do Topo */
    

    /* Banner do começo */
    .inicial{
        background-image: url('../img/livro.jpg');
        background-position: center;
        background-size: cover;
        height: 100vh;
    }

    /* Fim do Banner do começo */

    /* Biografia */

    .biografia {
        border-radius: 25px;
        border: 2px solid #000;
        padding: 50px;
    }

    /* Fim da Biografia */

    /*Modal */

.modal-button {
    background-color: #9f0000;
    height: 50px;
    width: 100%;
    color: #ffffff;
    border-radius: 25px;
    font-size: 20px;
}

.modal-button:hover {
    background-color: transparent;
    color: #9f0000;
    cursor: pointer;
}

.modal-button2 {
    background-color: #9f0000;
    height: 60px;
    width: 100%;
    color: #ffffff;
    border-radius: 25px;
    font-size: 20px;
    margin-bottom: 10px;
}

.modal-button2:hover {
    background-color: transparent;
    color: #9f0000;
    cursor: pointer;
}

.fechar-button {
    background-color: #9f0000;
    height: 50px;
    width: 100%;
    color: #ffffff;
    border-radius: 25px;
    font-size: 20px;
}

.fechar-button:hover {
    background-color: transparent;
    color: #9f0000;
    cursor: pointer;
}

.img-modal {
    margin-bottom: 20px;
}

.Titulo-modal {
    color: #9f0000;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 20px;
}


/* Fim Modal */

/* Obras */

.espaçamento {
    padding: 50px;
    
}

/* Fim das Obras */

/* Animação de texto animado */
.line {
    border-right: 2px solid #9f0000;
    color: #9f0000;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-top: 30vh;
    white-space: nowrap;
    overflow: hidden;
    
}
.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 2s steps(50) 1s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 7.5em;
    }
}


/* Fim da animação */

